<head>
    <style>
        body {
            background-color: dimgrey;
        }

        h1 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    </style>

</head>

<h1>Menu Items List</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    @foreach(MenuItem m in ViewBag.MenuItems)
    {
        <tr>
            <td>@m.Name</td>
            <td>@m.Description</td>
            <td>@m.Price</td>
            <td>@m.Quantity</td>
        </tr>
    }
</table>

@if(ViewBag.MenuItems.Count == 0)
{
    <p>NO FOOD FOR YOU!!!!</p>
}