

<h1>Menu Items List</h1>

<table class="table">
    <tr>
        <th>Item</th>
        <th>Price</th>
    </tr>
    @foreach(Menu m in ViewBag.menus)
    {
        <tr>
            <td>@m.MenuItem</td>
            <td>@m.Price.ToString()</td>
        </tr>
    }
</table>

@if(ViewBag.menus.Count == 0)
{
    <p>NO FOOD FOR YOU!!!!</p>
}