@{
    ViewData["Title"] = "Home Page";
}


<head>
    <title>Late Night Snacks</title>
</head>

<body>
    <style>
        body {
            background-color: dimgrey;
        }

        h1 {
            color: red;
            font-family: 'Franklin Gothedium', 'Arial Narrow', Arial, sans-serif;
        }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        p {
            color: white;
            font-size: large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center

        }
    </style>
    <img src="https://i.imgur.com/9GdonuJ.jpg" width="1100px" height="380px" text-align:center; />


</body>
<h1>Come one, come all!</h1>
<h4>
    Welcome to our version of the perfect end to a perfect night! Come check out our selection of
    quick snacks that will compliment the adventurous night of bar-hopping, concert-going, or just
    having a fun night on the town with your friends
</h4>

<h1>What we offer to you!</h1>
<h4>
    Try out our selection of items from our ever-changing menu! Catch us at a concert with food items
    reflect the season of the year or the theme of a festival. Our base menu is always changing and being
    updated to meet the needs of our customer: YOU!
</h4>

<h1>Interested in placing an order??</h1>
<p><!--add the link to the menu page here<a asp-controller="Menu" asp-action="Add"></a>--><button type="button" class="btn btn-danger" >Place Your Order Here</button></p>

<br />
<footer>
    Late-Night Snacks Food Truck <em>email:</em> latenightsnacks@charter.net <em>phone:</em>314.406.4638
</footer>