@{
    ViewData["Title"] = "Map Page";
}
<head>
    <title>Late Night Snacks</title>
   
        <style>
            body {
                background-color: dimgrey;
            }

            h1 {
                color: red;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            }

            h2 {
                color: red;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            }
        </style>
    
</head>

<body>
    <h1>Look for us at our next location!</h1>

    <p>
        Want to meet up with us and check out the next place we will be?? Follow our map and catch us around the St.
        Louis area. Wanna meet up with us? We will be serving at these locations. Time are approximate- stay alerted
        with our last-minute location changes via our text app!<!--activate these words for text app link-->
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m40!1m12!1m3!1d49870.801494937434!2d-90.28339554099956!3d38.627604255159596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m25!3e0!4m5!1s0x87d8b31b440bcf17%3A0xa57962d7e3509f27!2sBusch+Stadium%2C+Clark+Avenue%2C+St.+Louis%2C+MO!3m2!1d38.6226188!2d-90.1928209!4m5!1s0x87d8b3903d68a167%3A0x60b28b3ab56fd129!2sAnheuser-Busch+Biergarten%2C+Pestalozzi+Street%2C+St.+Louis%2C+MO!3m2!1d38.5994239!2d-90.2142448!4m5!1s0x87d8b341ed9d7d21%3A0x9bad787d717925a9!2sThe+Schlafly+Tap+Room%2C+Locust+Street%2C+St.+Louis%2C+MO!3m2!1d38.6330458!2d-90.2097572!4m5!1s0x87df355470c8edeb%3A0x9b5d777446a7dcbd!2sDelmar+Loop%2C+University+City%2C+MO!3m2!1d38.6561922!2d-90.30515899999999!5e0!3m2!1sen!2sus!4v1549119845260" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</body>

<footer>

</footer>