@page
@model Late_Night_Snacks.Views.Home.PaymentModel
@{
    
}

<head>
    <title>Late Night Snacks Payment Page</title>

    <style>
        body {
            background-color: dimgrey;
        }

        h1 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        h2 {
            color: red;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p {
            color: white;
            font-size: large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align:center
        }
    </style>

</head>
<body>
    <center>
    <img src="https://i.imgur.com/qeVTaxw.jpg" width="600px" height="400x" text-align:center; />
    </center>
    <br />
    <br />
    <p>
        Ready to make your payment? Once you have chosen your items from our order menu, feel free to select your
        payment methods from the options below:
    </p>
    <br />
    <center>
    <a href="https://www.paypal.com/signin?returnUri=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3fcmd%3d_account" target="_blank"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" /></a>
    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Buy now with PayPal" />
    </center>
    <br />
    <br />
</body>
