@model Late_Night_Snacks.ViewModels.OrderViewModel

<form method="post" asp-controller="Order" asp-action="CreateOrder">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Add to Order</th>
        </tr>
        @foreach (MenuItem m in ViewBag.MenuItems)
        {
        <tr>
                <th>@m.Name</th>
                <th>@m.Price</th>
                <th><input type="checkbox" name="itemsToAdd" value="@m.ID" /></th>
        </tr>
        }
        </table>
    <input type="text" value="CustomerName" placeholder="Your Name" />
    <input type="submit" value="Create Your Order" />
</form>